#pagetitleNI {
  font-size: 17pt;
  font-family: 'Bebas Neue', cursive;
  width: 100%;
  text-align: center;

}

nav{

  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

}

.menu {

  width: 30%;
  display: inline-table;

}

#controltable{

  text-align: center;

}

#mleft {

  margin-right: 150px;
  margin-bottom: -53px;



}

.controlInput{

  margin-top: 50px;

}

#btns{

  margin-top: 15px;
  width: 100%;
  height:58px;
  text-align: center;

}

#cancelBtn{

  margin-right: 30px;

}


#mright{

  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 3%;
  width: 70%;
  height: 300px;
  overflow-x: auto;
  display: inline-flex;
  margin-bottom: -10px;

}

.line{

  width: 100%;

}

#stockAlert {

  margin-bottom: -30px;
  margin-top: -10px;

}

#productBtns{

  display: inline-block;
  
}

#deletebtn{

  color:#fff;
  border: 1px solid rgb(246, 235, 8);
  font-weight: bolder;
  background-color:  rgb(246, 235, 8) ;
  height: 30px;
  width: 40px;
  margin-left: 10px;
  background-image: url('../assets/delete.png');
  background-size: 25px 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1000px;
  border: 1px solid rgba(0, 0, 0, 0.500);
  cursor: pointer;
  display: inline-block;
}

#sendbtn{

  color:#fff;
  border: 1px solid rgb(246, 235, 8);
  font-weight: bolder;
  background-color:  rgb(246, 235, 8) ;
  height: 30px;
  width: 40px;
  margin-left: 10px;
  background-image: url('../assets/send.png');
  background-size: 25px 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1000px;
  border: 1px solid rgba(0, 0, 0, 0.500);
  cursor: pointer;
  display: inline-block;

}

#delete{

  background-image: url('../assets/delete.png');
  margin-left: 10px;
  display: inline-block;
  width: 25px;
  height: 15px;
  background-size: 25px 15px;
  padding: 0;
  cursor: pointer;
  
}

#infoLabel{

  width: 70%;
  height: 100px;
  text-align: center;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

    
}

.line{

  width: 100%;
  margin-bottom: 10px;

}

#payment{

  display: inline-block;
  width: 50%;

}

#titlePayment{
  width: 80px;
  font-size: 15px;
  background-color: violet;

}

#cpf{

  width: 85%;
  display: inline-block;

}

#cpfLabel{

  width: 40%;
  display: inline-block;

}

#paymentLabel{
  display: inline-block;
  width: 38%;

}

.total{

  display: inline-block;
  width: 20%;

}

.clientUserLabel{

  width: 39%;
  display: inline-block;


}

#user{


  display: inline-block;
  width: 50%;


}

#client{

  width: 80%;
  display: inline-block;


}

#line2{

  margin-left: 15px;

}

#clientLabel{

  margin-left: -20px;

}

#userLabel{


  margin-left: -10px;

}